
body {
  overflow-x: hidden;
}



h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.text-primary{ color: $primary !important; }
.text-secondary{ color: $secondary !important; }


p {
  line-height: 1.75;
}

.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}



.navbar{
  box-shadow: none !important; 
}

.text-left{
  text-align: left;
}



.breadcrumb{
  background: none;
  border-top: 1px dotted #cccccc;
  span{ background: $gray-100; padding: 7px 15px; font-size: 12px; border-radius: 20px; color: gray; margin-right: 10px; }
}



.portfolio-modal .modal-content {
  padding: 6rem 2rem 3rem 2rem;
  
  p {color: $gray-700; }
  h3 {color: $gray-900; }
}


.hide-in-movil{
  display: none;
}

.show-in-movil{
  display: block;
}




footer{
  padding: 3rem 0 8rem 0;
  color: white;
  font-size: 14px;
 

    h5{
      margin-bottom: 30px;
      //color: $secondary !important;
      color: white !important;
    }
/*
    a{ color: white;}
    a:hover{ color: $secondary;}
*/
    .form-suscription{
      position: relative; 
          button, #mc-embedded-subscribe{ position: absolute; right: 7px; top: 7px; border-radius: 5px 30px 30px 30px !important; background: $primary !important;
            padding: 0.84rem 1.14rem;;
          }

          .form-control {
            height: calc(1.5em + 2rem + 2px);   
            border-radius: 2rem;
          }
      }

      .list-styled{
        li{
          background: none !important;
          padding-left: 0px !important;
        }
      }



}


#credits{ text-align: center !important;  }



  @media (min-width: 768px) {


    .hide-in-desktop, .hide-in-tablet{
      display: none;
    }
    
    .show-in-desktop, .show-in-tablet{
      display: inline-block;
    }
    
    footer{
      background: url("../img/links/background-footer.png") right top no-repeat;
      padding: 3rem 0;
    }


  }