



  /* Full Page Carousel itself*/
.carousel {
  height: 960px !important; 
  
}
  .carousel .carousel-inner {
  height: 100%; }
  .carousel .carousel-inner .carousel-item,
  .carousel .carousel-inner .active {
  height: 100%; }

  .carousel-indicators{
    margin:  1% 1.5%;
    bottom: 10px;
    justify-content: left;
  }

  
  

  .banner-slide{
    padding: 150px 3rem;
    //height: 100%;
    //padding: 170px 0 120px 0; 
    //padding-top: 170px; 
   

    p{
      font-size: 1.75rem;
      line-height: 2.25rem;
      
    }
    
     .button {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem; 
    }
    
}   

.video {
  position: relative;
  display: block;
  overflow: hidden; 
}

.video .play-button {
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
    content: "";
    left: 50% !important;
    margin-left: -50px;
    top: 50% !important;
    margin-top: -50px;
    background: url("../img/links/play-button.png") center center no-repeat;
    background-size: 70%;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

.video .play-button:hover {
      background-size: 90%;
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      transform: rotate(120deg);
      left: 80%; 
}
    

.modal-dialog {
  margin: 7rem auto; }
  .modal-dialog .modal-content {
    border-radius: 20px !important;
    overflow: hidden;
    color: #6610f2; 
}


/*
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
}
*/

.carousel{

    .container-scroll {
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: 100px;
      left: 50%;
      margin-left: -16px;
      z-index: 999;
    }

    .chevron {
      position: absolute;
      width: 28px;
      height: 8px;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      animation: move 3s ease-out infinite;
    }

    .chevron:first-child {
      animation: move 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
      animation: move 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background: #fff;
    }

    .chevron:before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    .chevron:after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }

    @keyframes move {
      25% {
        opacity: 1;

      }
      33% {
        opacity: 1;
        transform: translateY(30px);
      }
      67% {
        opacity: 1;
        transform: translateY(40px);
      }
      100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
      }
    }

    .text {
      display: block;
      margin-top: 75px;
      margin-left: -30px;
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-size: 12px;
      color: #fff;
      text-transform: uppercase;
      white-space: nowrap;
      opacity: .25;
      animation: pulse 2s linear alternate infinite;
    }

    @keyframes pulse {
      to {
        opacity: 1;
      }
    }

}