.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  background: url("../img/links/timeline-background.png") -55px top repeat-y;
}

.timeline li:first-child, .timeline li:last-child {
  margin-top: 0%;
}



.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
  margin-top: -10%;
}


.timeline > li:after, .timeline > li:before {
  display: table;
  content: " "; 
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;

}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto; 
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  margin-left: 0;
  text-align: center;

}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  background: url("../img/links/timeline-right.png") 50% 20px no-repeat ;
  height: 50px;

}

.timeline > li.timeline-inverted .timeline-image {
  background: url("../img/links/timeline-right.png") 50% 20px no-repeat ;
  height: 50px;
}


.timeline > li  .icon, .timeline > li.timeline-inverted .icon{
  display: none;
}




.timeline > li.timeline-inverted > .timeline-image {
  background:  url("../img/links/timeline-right.png")  50% 20px no-repeat;
  height: 50px;
}

.timeline li:last-child .timeline-image{
  background: none;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading  {
  margin-top: 0;
  color: #13134f;
}
.timeline .timeline-heading .heading {
  font-size: 3em;
  font-weight: 700;
}
.timeline .timeline-heading h4.subheading {
  text-transform: uppercase;
  font-size: 18px;
  
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}




@media (min-width: 768px) {

  .timeline {
    background: url("../img/links/timeline-background.png") center top repeat-y;
  }

  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
  
  }


  .timeline > li  .icon, .timeline > li.timeline-inverted .icon{
    width: 100px;
    height: 100px;
    position: absolute;
    display: block !important;
  }


  .timeline > li  .icon{
    left: 50px;
    top: 50px;
  }

  .timeline > li.timeline-inverted .icon{
    left: 70% !important;
    top: 50px;
  }



  
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 40px;
    text-align: right;
    border-radius: 50px 0 0 0;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 190px;
    height: 100px;
    margin-left: -95px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 40px;
    text-align: left;
    border-radius: 0 0 50px   0;
  }


  .timeline > li {
    transition: all 0.3s ease-in-out ; 
    .timeline-panel{

    
    background: #ffffff;
    cursor: pointer;
    }
  }
  .timeline li.highlighted .timeline-panel{ 
    background: rgb(0,212,255);
    background: linear-gradient(-45deg, rgba(87,63,211,1)  0%, rgba(87,63,211,1) 20%, rgba(0,212,255,1) 100%);  
    h4, p, .heading{color: white !important; }
  }
  

  .timeline > li  .icon, .timeline > li.timeline-inverted .icon{
    display: none;
  }

  .timeline > li .timeline-image {
    background: url("../img/links/timeline-left.png") center 20px no-repeat;
  }
  
  .timeline > li.timeline-inverted > .timeline-image {
    background: url("../img/links/timeline-right.png") center 50% no-repeat;
  }
}
