

.mainMenu{
    background: rgba(255,255,255,0);
    transition: all ease-in-out 0.5s;
    font-size: 14px;
    
    .navbar-brand {
      width: 190px;
      height: 80px;
      background: url("../img/links/logo-links.png") center top no-repeat;
      background-size: 150px;
      transition: all ease-in-out 0.5s;
    }
    i{ color: $secondary;}
    ul{
      padding: 20px;
      background: rgba($primary,0.8);
      li{ 
        font-weight: 500; 
        letter-spacing: 1.5px;
        padding: 0 20px; 
        border-right: 0; 
        color: $secondary;

        &:last-child{ border: 0; }
        &:hover{ 
          a{ color: white; outline: 0; position: relative;}
          a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
          }
           a:hover::before {
            visibility: visible;
            transform: scaleX(1);
          }
          a.dropdown-item:hover::before {
            display: none !important;
          }
          a.dropdown-item:hover {
            background: white;
            color: $primary !important;
            font-weight: 500;
            transition: all 0.3s ease-in-out 0s;
          }
        } 

       

      }
      
    }
}
  
.floatingMenu, .mainMenu:hover{
    background: rgba(255,255,255,1);
    @include shadow;
    font-size: 14px;
    
   
    
    .navbar-brand {
      width: 190px;
      height: 70px;
      background: url("../img/links/logo-links.png") center bottom no-repeat;
      background-size: 150px ;
      
    }
    ul{
      //background: rgba(white,0.8);
      li{ 
        border-right: 0;
        color: $primary ;
        a{ color: $gray-500;}
        &:last-child{ border: 0; }
        &:hover{ 
          a{ color: $primary ;}
          a::before {
            content: "";
            background-color: $secondary;
          }
        } 

        



        
      }
      li:hover .dropdown ul, .dropdown ul:hover{ 

        //a{ color: white !important;}
  
        &:hover{ 
          //a{ color: white !important;}
        } 



        
      
      }
    }
    

    
  }

  
.mainMenu .dropdown-menu{
  //background: rgba($primary,0.9);
  padding: 0;
  border: 0;
  width: 100%;
  box-shadow: none;
  li{ padding: 0; border: 0;}
  a{
    padding:10px 25px;
    margin-top: 5px;
    border-radius: 25px !important;
    color: white !important;
    background: rgba($primary,0.9);
  }
}
