


  $xs: 0;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;



@media (max-width: $sm) {

    .carousel {
        height: 700px !important;
      
        h1{
            font-size: 30px;
        }

        p  {font-size: 20px;  }

        .banner-slide {
            padding: 150px 20p 200px 20px;
            background-color: aqua !important;
            background-size: auto 100%;
            height: 100%;
        }

        img{  width: 100%;}
    }
    .btn-links{
        border-radius: 30px  !important;
        font-size: 16px !important;
    }
      
    .btn-links-inverse{
        border-radius: 30px  !important;
    }

    #benefits{
      padding-top:20px;
    }
    #services{
      padding-bottom:20px;
    }

    #gotopbutton{
      display: none;
    }
    
 
}



@media (min-width: $sm) {
  #benefits{
    padding-top:20px;
  }
  #services{
    padding-bottom:20px;
  }
  
  
}
  


@media (min-width: $md) {

    a.btn-links{
        border-radius: 35px 3px 35px 35px !important;
      }
      
    a.btn-links-inverse{
        border-radius: 35px 35px 35px 3px !important;
    }
    
    #benefits{
      background: #e9e9e9 url("../img/links/background-benefits.webp") center top no-repeat;
      padding-top: 6rem;
    }
    .links .modal-body {
      background:  rgba(white,0) !important;
    }
  
}

@media (min-width: $lg) {
    
    
  .carousel {
    //height: 750px !important;

    p{
      font-size: 2.25rem;
      line-height: 3.25rem;
    }
  }


  .banner-slide{
    height: 100%;
    padding-top: 170px; 
   }

  
    .portfolio-modal{
      .modal-body{
        background-color: rgba(255,255,255,0);
        border-radius: 20px;
      }
    }

    .mainMenu{
      
      ul{
        padding: 20px;
        background: transparent;
        li{ 
          border-right: 1px dotted rgba(white,0.5);
          border-bottom: 0;
        }
        
      }
    }

    .floatingMenu{
      ul{
        padding: 20px;
        background: transparent;
        li{ 
          border-right: 1px dotted rgba(white,0.5);
          border-bottom: 0;
        }
        
      }
    }
    
}

@media (min-width: $xl) {
    .owl-carousel .owl-nav {
        display: block !important;
    }
}