// Import Custom Variables (Overrides Default Bootstrap Variables)

@import "_variables.scss";

 
// Import lybraries
//@import "node_modules/mdbootstrap/scss/mdb-free";

// Required
//@import "node_modules/mdbootstrap/scss/core/variables";
//@import "node_modules/mdbootstrap/scss/core/mixins";

// CUSTOM  
// Base 
@import "mixins.scss";

html{
    @import "layouts/base.scss"; 
    @import "global.scss";

}

      
// components  
@import "overlayMenu.scss";   
@import "form.scss";
@import "button.scss";
@import "slider.scss";
@import "navbar.scss";
@import "timeline.scss";
@import "carousel.scss";
@import "portfolio.scss";



.links{
    @import "layouts/links.scss";   
}

.educalinks{ 
    @import "layouts/educalinks.scss"; 
}

.redlinks{
    @import "layouts/redlinks.scss"; 
}


.webinar{
    @import "layouts/webinar.scss"; 
}



.socialtray{
    @import "layouts/socialtray"; 
}


// Custom Layouts 
/* Your custom layouts goes here */ 

 

@import "responsive.scss"; 



#banner-historia{
    height: 300px;
    background: url("/img/links/banner/banner-nuestra-historia.jpg") center top no-repeat;
    padding-top: 170px ;
    text-align:center;
    h2{ color: white;}
  }
 