
        <!-- Footer-->
        <footer class="footer bg-primary" >
            <div class="container">

                <div class="row text-left">
                    <div class="col-md-4  pt-5 pb-md-5">
                    <img src="/img/links/logo-links-blanco.png" width="160" alt="Links S.A. Ecuador">
                    <br>
                    <br>
                    <ul class="list">
                        <li> <a target="_blank" href="https://www.google.com/maps/place/Educalinks/@-2.0396917,-79.8573167,15z/data=!4m12!1m6!3m5!1s0x0:0x29bec43f88f52a53!2sEducalinks!8m2!3d-2.0396917!4d-79.8573167!3m4!1s0x0:0x29bec43f88f52a53!8m2!3d-2.0396917!4d-79.8573167"> <i class="fa fa-map-marker-alt"> </i> &#160&#160Km. 13.5 vía a Samborondón</a> </li>
                        <li> <a target="_blank" href="mailto:info@links.com.ec"> <i class="fa fa-envelope"> </i> &#160&#160info@links.com.ec</a> </li>
                        <li> <a target="_blank" href="tel:043726466"> <i class="fa fa-phone"> </i>&#160&#160 043 726 466</a> </li>
                        <li> <a target="_blank" href="tel:0967123711"> <i class="fa fa-phone"> </i>&#160&#160 096 712 3711</a> </li>
                    </ul>
                    </div>
                    <div class="col-md-4  pt-5 pb-md-5  px-md-5">
                        <h5>About Us</h5>
                        <ul class="list-styled">
                            <li> <a href="/en/downloads/presentacion-links.pdf" rel="nofollow" target="_blank"> <i class="fa fa-chevron-right "></i>&#160&#160  Enterprise Cv</a> </li>
                            <li> <a href="https://links.hiringroom.com/jobs" rel="nofollow" target="_blank"> <i class="fa fa-chevron-right "></i>&#160&#160 Join Us</a> </li>
                            <li> <a href="https://soporte.redlinks.com.ec/portal/es/signin" rel="nofollow" target="_blank"> <i class="fa fa-chevron-right"></i>&#160&#160 Support</a> </li>
                            <li> <a href="https://blog.links.com.ec" rel="nofollow" target="_blank"> <i class="fa fa-chevron-right"></i>&#160&#160Blog</a> </li>
                        </ul>

                        <br>
                        <br>
                        <h5>Our Solutions</h5>
                        <ul class="list-styled">
                            <li> <a href="/en/educalinks" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160Educalinks</a> </li>
                            <li> <a href="/en/redlinks" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160Redlinks</a> </li>
                            <li> <a href="/en/socialtray" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160SocialTray</a> </li>
                        </ul>
                    </div>

                    <!--
                    <div class="col-md-3   pt-5 pb-md-5 px-md-5">
                        <h5>Productos</h5>
                        <ul class="list-styled">
                            <li> <a href="/educalinks" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160Educalinks</a> </li>
                            <li> <a href="/redlinks" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160Redlinks</a> </li>
                            <li> <a href="/socialtray" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160SocialTray</a> </li>
                        </ul>
                    </div>
                    -->
                            
                    <div class="col-md-4 pt-5 pb-md-5">
                            <h5>Subscribe</h5>
                            <p>
                              Stay up to date with our latest updates.
                            </p>



                            





<!-- Begin Sendinblue Form -->
<!-- START - We recommend to place the below code in head tag of your website html  -->
<style> 
  
    #sib-container input:-ms-input-placeholder {
      text-align: left;
      /* color: #c0ccda;*/
    }
  
    #sib-container input::placeholder {
        background: none !important;
        border: 0  !important;
        text-align: left;
      /* color: #c0ccda; */
    }

    #sib-container {
    background: none;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    width: 100%;
    }
    .sib-form {
    background-attachment: fixed;
    font-size: 16px;
    font-family: poppins,sans-serif;
    padding: 0 !important;
    margin: 0;
}
.sib-form-block{
    margin: 0px; padding: 0px;
}
.sib-form .entry__choice {
    padding-left: 3em;
    text-indent: -1.5em;
}
  </style>
  
  <!--  END - We recommend to place the above code in head tag of your website html -->
  
  <!-- START - We recommend to place the below code where you want the form in your website html  -->
  <div class="sib-form" >
    <div id="sib-form-container" class="sib-form-container">
      <div id="sib-container" class="sib-container--large sib-container--vertical" style="text-align:center; border-radius:3px; ">
        <form id="sib-form" method="POST" action="https://af723530.sibforms.com/serve/MUIEAL-Op9bf47pp4h9COseH0v08TvXzcwfCgFZDgKnsvujFkeiw9vykpZoWxVraLat2DQjwb6JKbEqL4eM1DCjIVxhRW_0RTZaAa7YS7Vb2JyrGcFzobHc4u5vIvPSOZ4BK9CWc3ThuLXU4cWU7TyaGTpe1zncUQU6eam1F70hXvqt1GQXD3NcGRg89YrFund05MbSCq5TKB0hJ">
          
          
            
          <div  >
            <div class="sib-input sib-form-block">
              <div class="form__entry entry_block">
                <div class="form__label-row ">
  
                  <div class="entry__field">
                    <input class="input" style="color: gray;" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                  </div>
                </div>
  
                <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left;   color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
                </label>
                <label class="entry__specification" style="font-size:12px; text-align:left; color: #00ecca; " >
                  Enter your email address to subscribe. Ex: abc@xyz.com
                </label>
              </div>
            </div>
          </div>
          <div >
            <div class="sib-optin sib-form-block">
              <div class="form__entry entry_mcq">
                <div class="form__label-row ">
                  <div class="entry__choice">
                    <label>
                      <input type="checkbox" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" />
                      <span class="checkbox checkbox_tick_positive" style="margin-left: 20px 10px;"></span>
                      <span style="font-size:14px; text-align:left; background-color:transparent;"><p>I accept the conditions and receive your newsletters.</p></span>                   
                    </label>
                  </div>
                </div>
                <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left;  border-radius:3px; border-color:#ff4949;">
                </label>

              </div>
            </div>
          </div>
          <div style="padding: 8px 0;">
            <div class="sib-form-block" style="text-align: left">
              <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; background-color:#00ecca; border-radius:20px; border-width:0px;"
                form="sib-form" type="submit">
                <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                  <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"
                  />
                </svg>
                SUBSCRIBE
              </button>
            </div>
          </div>
          <input type="text" name="email_address_check" value="" class="input--hidden">
          <input type="hidden" name="locale" value="es">
          <input type="hidden" name="html_type" value="simple">
        </form>
      </div>
    </div>
  </div>
  <!-- END - We recommend to place the below code where you want the form in your website html  -->
  <!-- End Sendinblue Form -->






















<!--
<form action="https://redlinks.us15.list-manage.com/subscribe/post?u=a578bee4eaebb00ba064859b1&amp;id=26c9e3a9b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div class="form-group form-suscription">
                                    <input class="form-control required email" id="mce-EMAIL"  name="EMAIL"  type="email"   placeholder="Escriba su email *"   data-validation-required-message="Por favor ingrese su email." />
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>  
                                    <p class="help-block text-danger"></p>
                                    <div class=" text-center">
                                        <div id="success"></div>
                                        
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                            <input type="text" name="b_a578bee4eaebb00ba064859b1_26c9e3a9b3" tabindex="-1" value="">
                                        </div>
                                        <div class="clear">
                                            <button class="btn btn-primary " id="mc-embedded-subscribe" aria-label="suscríbete" type="submit"><i class="fa fa-paper-plane "></i></button>
   
                                        </div>
                                    </div>
                                </div>
</form>
-->


                    </div>
                </div>



                <div class="row align-items-center " id="credits">
                    <div class="col-lg-4 text-lg-left " style="text-align: left; ">Copyright © Links S.A. 2021</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-links-inverse btn-social mx-2"  rel="nofollow" target="_blank" href="https://www.instagram.com/links_ec/"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-links-inverse btn-social mx-2" rel="nofollow" target="_blank"href="https://www.facebook.com/Linksec-101748228473331"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-links-inverse btn-social mx-2" rel="nofollow" target="_blank" href="https://www.linkedin.com/company/16216015/admin/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-links-inverse btn-social mx-2" rel="nofollow" target="_blank"   href="https://www.tiktok.com/@links_ec"> <i class="fab fa-tiktok"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">

                        
                        <a class="mr-3" href="#cookieModal"  data-toggle="modal">Privacy Policy</a>
                        <!--<a href="#cookieModal"  data-toggle="modal">Términos de Uso</a>-->
                    </div>
                </div>
            </div>
        </footer>