<nav class="navbar navbar-expand-sm sticky-topsss p-0 fixed-top navbar mainMenu">
    <div class="container-fluid">
        
        <a class="navbar-brand js-scroll-trigger" href="/">

        </a> <button class="navbar-toggler navbar-toggler-right " aria-label="menú" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon "> <i class="fa fa-bars"></i> </span>
        </button>

        
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav text-uppercase">
                <strong class="hide-in-desktop"> Language   </strong>
                
                <li>
                    <a class="nav-link" href="/en" title="English">
                        <img src="/img/en.png" alt="English" width="30"><span class="hide-in-desktop">English</span> 
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/" title="Spanish" >
                        <img src="/img/ec.png" alt="Spanish" width="30"><span class="hide-in-desktop">Spanish</span> 
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav text-uppercase ml-auto">
                <strong class="hide-in-desktop">Pages</strong>
                <li class="nav-item">
                    <a class="nav-link" href="/en">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/en/historia.html">About Us</a>
                </li>
                <!-- Navbar dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    Our Products
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/en/educalinks"> <i class="fa fa-chevron-right "></i>&#160&#160 Educalinks</a></li>
                    <li><a class="dropdown-item" href="/en/redlinks"> <i class="fa fa-chevron-right "></i>&#160&#160 Redlinks</a></li>
                    <li><a class="dropdown-item" href="/en/socialtray"> <i class="fa fa-chevron-right "></i>&#160&#160 Socialtray</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://blog.links.com.ec/en/" >Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contactModal" data-toggle="modal">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
    
        
    
</nav>