        <!-- Portfolio Modals-->
        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModalUees" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                            
                            <div class="row modal-title text-left m-0 p-0">
                                <h3>Implementation of test and virtual appointment scheduling at UEES clinic.</h3>
                                        <div class="breadcrumb pl-0 pr-0">
                                            <span>Developing</span> <span>Web App</span> <span>UEES</span>
                                        </div>
                            </div>
                            
                            <div class="row modal-body text-left m-0 p-0" >

                            
                                    <div class="col-lg-8 pr-md-5">

                                        <div class=" hide-in-desktop show-in-movil">
                                            
                                            <img class="img-fluid" src="img/links/portfolio/uees-desarrollo-de-sistema-de-citas-covid.jpg" alt="Sistema de registro COVID - UESSClinic" />
                                        </div>
                                        
                                        <h3>Initial situation: </h3>
                                        <p>
                                            During the initial 2020 Coronavirus Lockdown, hospital demand increased and  UEES university created UEES Clinic: a health care clinic for its administrators, teachers and students, to exclusively attend to coronavirus cases. However, to avoid crowds due to the critical situation of the pandemic, they had to find a filter to attend only to cases which were diagnosed positive prior to clinical check-up.
                                        </p>
                                        <h3>Solution: </h3>
                                        <p>
                                        They contacted us signaling the issue at hand and we immediately provided the solution:  creating a web form so that according to the result, people would be taken care off properly. Once the virtual form was filled out using an automated system, the patient could schedule its appointment. In addition, a form had to be filled out that was later reviewed by the Ministry of Health to approve the coronavirus tests. We achieved this implementation over a sole weekend ensuring an immediate, agile and efficient response without having to paralyze work at the health center.  Published results were available at any time in no time!. Thanks to this system, the clinic was able to expand its services to the whole community. </p>


                                        <a class="btn btn-xl btn-primary mb-5" href="https://www.uees.edu.ec/ueesclinic/" target="_blank">
                                            Learn more about this project
                                        </a>
                                        
                                </div>

                                <div class="col-lg-4 ml-0 pl-0 show-in-desktop hide-in-movil">

                                </div>


                               
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModalArgos" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content " >
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                            <div class="row modal-title text-left m-0 p-0">
                                
                                <h3>Virtual application for scholarships at Tecnológico Argos.</h3>
                                <small class="mb-2 ">Digitization and automation of administrative and application processes.</small>
                                 
                                <div class=" breadcrumb pl-0 pr-0">
                                    <span>Developing</span> <span>Web App</span> <span>Tecnológico Argos</span>
                                </div>
                            </div>
                            
                            <div class="row modal-body text-left m-0 p-0">

                                    <div class="col-lg-8 pr-md-5">

                                        <div class=" hide-in-desktop show-in-movil">
                                            <img class="img-fluid" src="img/links/portfolio/tecnologico-argos-becas-municipio-de-guayaquil.jpg" alt="Sistema web de becas municipio de Guayaquil" />
                                        </div>
                                        
                                        <h3>Initial situation: </h3>
                                        <p>
                                            Tecnologico Argos made an agreement with the Municipality of Guayaquil to provide the community with 5,400 scholarships over 3 years for online learning.
                                        </p>
                                        <h3>Solution: </h3>
                                        <p>
                                            We provided advice and digitizeg the application and registration process, through the development of an online form and process. All information was located within the same platform and students could keep contact with the institution for any questions that might arise. 
                                        </p>

                                        <a class="btn btn-xl btn-primary mb-5" href="https://admisiones.tecnologicoargos.edu.ec/entidad/targos" target="_blank">
                                            Learn more about this solution
                                        </a>
                                        

                                </div>

                                <div class="col-lg-4 ml-0 pl-0 show-in-desktop hide-in-movil">
                                    
                                </div>


                               
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModalEcotec" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                            <div class="row modal-title text-left m-0 p-0">
                                <h3>Integrated and automated security system at Ecotec.</h3>
                                <small class="mb-2 ">The security personnel of the university use this system to optimize their efficiency, be better informed and offer quality security to the educational community.</small>
                                 
                                <div class="breadcrumb pl-0 pr-0">
                                    <span>Developing</span> <span>Web App</span> <span>Tecnológico Argos</span>
                                </div>
                            </div>
                            
                            <div class="row modal-body text-left m-0 p-0">

                                    <div class="col-lg-8 pr-md-5">

                                        <div class=" hide-in-desktop show-in-movil">
                                            <img class="img-fluid" src="img/links/portfolio/ecotec-cuarto-de-monitoreo-y-seguridad.jpg" alt="Implementación de cuarto de seguridad monitoreo" />
                                        </div>
                                        
                                        <h3>Initial situation: </h3>
                                        <p>
                                            The university had managed to implement security cameras on its 3 campuses, but it was humanly impossible to be aware of the 210 cameras they had. Its objective was to increase security and that the personnel in charge could know each movement that occurred on the 3 facilities in the same place. However, they did not have an integrated surveillance system or adequate equipment. To achieve this objective, we implemented an integrated system that gathered the 210 cameras in one place, optimizing its resources and helping the operators in an optimal way.
                                        </p>
                                        <h3>Solution: </h3>
                                        <p>
                                            Centralize monitoring in tv setting. This space was adapted and turned into a surveillance room which allows the operator to see everything that happened in real time. Altogether, the alarm and display system was automated. Likewise, a configuration system was created which allows a time range to be configured for a certain camera and an alarm to be produced if someone passes by. In addition, if you want to review recordings from previous days, they can be viewed in a more optimal and efficient way, guaranteeing security on the 3 campuses.
                                        </p>

                                       
                                        
                                </div>

                                


                               
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Contacts-->
        <div class="portfolio-modal modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    
                    <div class="container m-0 p-0">

                        <div class="modal-header py-4">
                            <h4 class="pl-4">Contact Us</h4>
                        </div>

                        <div class="row p-5 ">

                        <form id="form_data" action="https://links.socialtray.net/guardar_respuestas">
                            
                            <div class="rendered-form">

                                <input type="hidden" name="prog_id" value="9" access="false" id="prog_id">
                                <input type="hidden" name="fte_contacto" value="5" access="false" id="fte_contacto">
                                <input type="hidden" name="form_id" value="9"><div class="formbuilder-text form-group field-text-1612294898251">

                                    
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <small class="text-right">Name * </small>
                                            <input type="text" placeholder="Write your name" class="form-control" name="nombre" access="false" id="nombre" required="required" aria-required="true">        
                                        </div>
                                        <div class="col-md-6">
                                            <small class="text-right">Phone * </small>
                                            <input type="text" placeholder="Write your cellphone" class="form-control" name="telefono" access="false" id="telefono" required="required" aria-required="true">      
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <small class="text-right">Email * </small>
                                            <input type="text" placeholder="Write your email" class="form-control" name="correo" access="false" id="correo" required="required" aria-required="true">
                                        </div>
                                        <div class="col-md-6">
                                            <small class="text-right">Business * </small>
                                            <input type="text" placeholder="Business" class="form-control" name="empresa" access="false" id="empresa" required="required" aria-required="true">
                                        </div>
                                    </div>
                                    <small class="text-right">Comment * </small>
                                    <textarea type="textarea" class="form-control" name="observacion" access="false" id="observacion" rows="6"></textarea>
                                
                                    <div class="formbuilder-button form-group field-button-1612294991866">
                                        <button type="submit" class="btn btn-xl btn-primary" name="button-1612294991866" access="false" style="default" id="button-1612294991866">Enviar</button>
                                    </div>

                            </div>

                        </form>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Cookies -->
        <div class="portfolio-modal modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                        <div class="row modal-body p-5">
                            <script id="CookieDeclaration" src="https://consent.cookiebot.com/dcd5631f-31ec-495e-abc7-9ffa452b2060/cd.js" type="text/javascript" async></script>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL FORM EBOOK -->
        <div class="portfolio-modal modal fade" id="ebook" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    
                    <div class="container m-0 p-0">
                        <img src="/img/links/popups/2021-jun-download-ebook.jpg" alt="" width="100%">
                        <div class="row p-5 ">
                            <h3>Envia este eBook a tu email </h3>
                            <p>Coloca tu correo electrónico y recibirás TOTALMENTE GRATIS esta guía completa en formato PDF.</p>




                        <form id="form_data" action="https://links.socialtray.net/guardar_respuestas">
                            <div class="rendered-form">
                                <input type="hidden" name="prog_id" value="13" access="false" id="prog_id">
                                <input type="hidden" name="fte_contacto" value="5" access="false" id="fte_contacto">
                                <input type="hidden" name="campana_id" id="campana_id" value="17">

                            <div class="formbuilder-text form-group field-nombre">
                            <label for="nombre" class="formbuilder-text-label">
                            Name<span class="formbuilder-required">
                            *</span>
                            </label>
                            <input type="text" placeholder="Write your name" class="form-control" name="nombre" access="false" id="nombre" required="required" aria-required="true">
                        </div>
                            <div class="formbuilder-text form-group field-email">
                            <label for="email" class="formbuilder-text-label">
                            Email<span class="formbuilder-required">
                            *</span>
                            </label>
                            <input type="email" placeholder="Write your email" class="form-control" name="correo" access="false" id="correo" required="required" aria-required="true">
                        </div>
                        <div class="formbuilder-text form-group field-celular">
                            <label for="celular" class="formbuilder-text-label">
                            Phone<span class="formbuilder-required">
                            *</span>
                            </label>
                            <input type="text" placeholder="Phone number" class="form-control" name="telefono" access="false"  id="telefono" required="required" aria-required="true">
                        </div>
                            <div class="formbuilder-button form-group field-button-1617905893384">
                            <button type="submit" class="btn btn-primary btn-xl btn-links-inverse m-2" name="button-1617905893384" access="false" style="success" id="button-1617905893384">
                            Send</button>
                        </div>
                        </div>
                        </form>



                            


                        </div>

                        
                    </div>

                </div>
            </div>
        </div>

        
        <!-- MODAL POPUP -->
        <div class="portfolio-modal modal fade" id="popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    
                    <div class="container m-0 p-0">

                        <a  href=" https://blog.links.com.ec/educacion-hibrida-el-desafio-del-2021/"><img src="img/links/popups/2021-jun-14-blog.jpg" alt="" width="100%"></a>
                       

                     
                    </div>

                </div>
            </div>
        </div>


