<form id="form_data" action="https://links.socialtray.net/guardar_respuestas">
    <div class="rendered-form">
    <div class="formbuilder-text form-group field-nombre">
    <label for="nombre" class="formbuilder-text-label">
    Nombre<span class="formbuilder-required">
    *</span>
</label>
<input type="text" placeholder="Nombre" class="form-control" name="nombre" access="false" id="nombre" required="required" aria-required="true">        
</div>
    <div class="formbuilder-text form-group field-correo">
    <label for="correo" class="formbuilder-text-label">
    Email<span class="formbuilder-required">
    *</span>
</label>
    <input type="email" placeholder="Correo electrónico" class="form-control" name="correo" access="false" id="correo" required="required" aria-required="true">
</div>
    <div class="formbuilder-text form-group field-telefono">
    <label for="telefono" class="formbuilder-text-label">
    Celular<span class="formbuilder-required">
    *</span>
</label>
    <input type="text" placeholder="Número de teléfono" class="form-control" name="telefono" access="false" id="telefono" required="required" aria-required="true">
</div>
    <div class="formbuilder-button form-group field-enviar">
    <button type="submit" class="btn-success btn" name="enviar" access="false" style="success" id="enviar">
    Enviar</button>
</div>
</div>
</form>
