<nav class="navbar navbar-expand-sm sticky-topsss p-0 fixed-top navbar mainMenu">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="/">

        </a> <button class="navbar-toggler navbar-toggler-right " aria-label="menú" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon "> <i class="fa fa-bars"></i> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav text-uppercase">
                <strong class="hide-in-desktop">Idioma</strong>
                <li>
                    <a class="nav-link" href="/" title="Español">
                        <img src="/img/ec.png" alt="Español" width="30"><span class="hide-in-desktop">Español</span> 
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/en" title="Inglés">
                        <img src="/img/en.png" alt="Inglés" width="30"><span class="hide-in-desktop">Inglés</span> 
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav text-uppercase ml-auto">
                <strong class="hide-in-desktop">Páginas</strong>
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historia.html">Nosotros</a>
                </li>
                <!-- Navbar dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    Nuestros Productos
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/educalinks"> <i class="fa fa-chevron-right "></i>&#160&#160 Educalinks</a></li>
                    <li><a class="dropdown-item" href="/redlinks"> <i class="fa fa-chevron-right "></i>&#160&#160 Redlinks</a></li>
                    <li><a class="dropdown-item" href="/socialtray"> <i class="fa fa-chevron-right "></i>&#160&#160 Socialtray</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://blog.links.com.ec" >Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contactModal" data-toggle="modal">Contáctanos</a>
                </li>
            </ul>
        </div>
    </div>
    
        
    
</nav>