<!-- Carousel wrapper -->
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>




<div class="container-scroll " >
  <div class="chevron" ></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
  
  <a class="text" href="#services" style="width: 90px; text-align: right; "> <span class="text">Scroll down</span></a>
</div>


  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"></li>
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"></li>
    <!-- <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"></li> -->
  </ol>

  <!-- Inner -->
  <div class="carousel-inner">



    <!-- Single item -->
    <div class="carousel-item ">
      
      
      <div class="banner-slide" style="background: url(img/links/banner/banner-socialtray.webp)  center top no-repeat; background-attachment: fixed; background-size: auto 100% !important; " >
          <div class="container">

              <div class="row">
                  <div class="  col-md-6 col-xs-12 " >
                    <div class="text-secondary mb-3" style="font-weight: 200;"> Invierte inteligentemente &#160&#160  <i class="fa fa-chevron-right "></i></div>
                    <h1 class="text-secondary">Automatiza tu <u>Negocio</u></h1>
                    <p class="text-white"> <span> y genera utilidades desde casa.</span>
                    
                    </p>
                      <a href="#appointmentModal" data-toggle="modal"  class="btn btn-primary btn-xl btn-links ripple-surface "> <i class="far fa-calendar "></i>&#160&#160  Solicita una cita</a>
                  </div>
                  
              </div>

          </div>
      </div>

    </div>


    
    <!-- Single item -->
    <div class="carousel-item active">
      
      
      <div class="banner-slide" style="background: url(img/links/banner/background-banner.webp) center top no-repeat; background-attachment: fixed; background-size: auto 100% !important" >
          <div class="container">

              <div class="row">
                  <div class=" col-12">
                      


                            <h1 class="text-secondary text-center">¡Trae a la <u>realidad</u> tu idea más innovadora!</h1>
                      <p class="text-white text-center"> <span> en LINKS desarrollamos soluciones tecnológicas de alta escalabilidad </span>  </p>
                      </h1>
                  </div>
                  <div class="video text-center" alt="video" data-toggle="modal" data-target="#youtubeVideo">
                      <img class="mt-3 z-depth-1 imagen-slider-video"  src="img/links/banner/image-video.webp" alt="video de desarrollo tecnológico digital ecuador" title="video de desarrollo tecnológico digital ecuador"  >
                      <div class="play-button"></div>
                  </div>
              </div>

          </div>
      </div>

    </div>


  <!-- Inner -->

  <!-- Controls -->
  <a
    class="carousel-control-prev"
    href="#carouselBasicExample"
    role="button" name="carousel anterior"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    
  </a>
  <a
    class="carousel-control-next"
    href="#carouselBasicExample"
    role="button" name="carousel siguiente"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- Carousel wrapper -->








<!--  YOUTUBE VIDEO -->
<!-- Modal -->
<div class="modal fade" id="youtubeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" name="Cerrar Video" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/I4hxQfPpZ6o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!--/Body-->
    
    </div>
  </div>
</div>


<!--  HTML5 VIDEO -->
<!-- Modal -->
<div class="modal fade" id="html5Video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" name="Cerrar Video"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
  <video id="htmlVideo" width="100%" controls>
    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
    Your browser does not support HTML5 video.
  </video>
      </div>
      <div class="modal-footer">
        <button type="button" name="Cerrar Video" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" name="Guardar" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>