@mixin text-spaced{
        text-transform: uppercase;
        letter-spacing: 1.6px;
        font-size: 12px;
        font-weight: 600;
    }



@mixin transition{
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

@mixin shadow{
box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}


@mixing hexagon{
    .hexagon {
        position: relative;
        width: 300px; 
        height: 173.21px;
        background-color: #64C7CC;
        margin: 86.60px 0;
      }
      
      .hexagon:before,
      .hexagon:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
      }
      
      .hexagon:before {
        bottom: 100%;
        border-bottom: 86.60px solid #64C7CC;
      }
      
      .hexagon:after {
        top: 100%;
        width: 0;
        border-top: 86.60px solid #64C7CC;
      }
}