        <!-- Educalinks Modals-->
        
        <!-- Modal popup -->
        <div class="portfolio-modal modal fade" id="popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    
                    <div class="container m-0 p-0">
                        <img src="img/popups/2021-abr-donwload-pdf.jpg" alt="" width="100%">
                        <div class="row p-5 ">
                            <h3>PopUP </h3>
                            <p>test text.</p>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
        <!-- Modal Appointment -->
        <div class="portfolio-modal modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">
                        <iframe src="https://calendly.com/links-sa/reserva-de-cita" style="border: 0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>

 
        
        <!-- Modal Contacts-->
        <div class="portfolio-modal modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    
                    <div class="container m-0 p-0">

                        <div class="modal-header py-4">
                            <h4 class="pl-4">Escríbenos</h4>
                        </div>

                        <div class="row p-5 ">

                        <form id="form_data" action="https://links.socialtray.net/guardar_respuestas">
                            
                            <div class="rendered-form">

                                <input type="hidden" name="prog_id" value="9" access="false" id="prog_id">
                                <input type="hidden" name="fte_contacto" value="5" access="false" id="fte_contacto">
                                <input type="hidden" name="form_id" value="9"><div class="formbuilder-text form-group field-text-1612294898251">

                                    
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <small class="text-right">Nombre * </small>
                                            <input type="text" placeholder="Nombre" class="form-control" name="nombre" access="false" id="nombre" required="required" aria-required="true">        
                                        </div>
                                        <div class="col-md-6">
                                            <small class="text-right">Teléfono * </small>
                                            <input type="text" placeholder="Teléfono fijo o celular" class="form-control" name="telefono" access="false" id="telefono" required="required" aria-required="true">      
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <small class="text-right">Email * </small>
                                            <input type="text" placeholder="Email" class="form-control" name="correo" access="false" id="correo" required="required" aria-required="true">
                                        </div>
                                        <div class="col-md-6">
                                            <small class="text-right">Empresa * </small>
                                            <input type="text"placeholder="Empresa" class="form-control" name="empresa" access="false" id="empresa" required="required" aria-required="true">
                                        </div>
                                    </div>
                                    <small class="text-right">Comentario * </small>
                                    <textarea type="textarea" class="form-control" name="observacion" access="false" id="observacion" rows="6"></textarea>
                                
                                    <div class="formbuilder-button form-group field-button-1612294991866">
                                        <button type="submit" class="btn btn-xl btn-primary" name="button-1612294991866" access="false" style="default" id="button-1612294991866">Enviar</button>
                                    </div>

                            </div>

                        </form>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


