
body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}


.text-left{
  text-align: left;
}


#testimonials{
    background: #4e3792; 
    padding-bottom: 0.1em;

    h2{ color: white;}
    .testimonial{
      margin-bottom: 30px;
      p{
        min-height: 150px;
        background: white url("../img/links/background-testimonial.png") left bottom no-repeat;
        padding: 30px 60px 30px 60px;
        border-radius:0px 70px 70px 0px ;
        line-height: 1.4em;
      }
      .name{
        text-align: left;
        color: white;
        display: table;
        vertical-align: middle;
      }
      
      .person {
        width:100%;
        position: relative;
        margin-top:25px;
        margin: auto;
        //background: red;
      
        
      
        img{
          //border-radius: 50%;
          max-width: 200px;
          height: auto;
          @include shadow;
        }
        &:before{ 
          position:absolute;
          width: 30px;
          height: 30px;
          content: "";
          background: url("../img/links/background-bubble.png") center bottom no-repeat;
          top: -30px;
          left: 20%;
        }
        
      }
    }

}

  
#historia{
    background: url("../img/links/background-testimonials.jpg") center top no-repeat;
    padding: 12rem 0 6rem 0;
}


.breadcrumb{
  background: none;
  border-top: 1px dotted #cccccc;
  //border-bottom: 1px dotted #cccccc;
  span{ background: $gray-100; padding: 7px 15px; font-size: 12px; border-radius: 20px; color: gray; margin-right: 10px; }
}





.hide-in-movil{
  display: none;
}

.show-in-movil{
  display: block;
}


.portfolio-modal .modal-content {
  padding: 6rem 2rem 3rem 2rem;
  
  p {color: $gray-700; }
  h3 {color: $gray-900; }
}


  @media (min-width: 768px) {


    .portfolio-modal .modal-content {
      padding: 2rem;

    }

    .hide-in-desktop, .hide-in-tablet{
      display: none;
    }
    
    
    
    .show-in-desktop, .show-in-tablet{
      display: block;
    }
    


    .testimonial {
      &:before{ 
        left: 5%;
      }
      .person {
        width:90%;
        margin-left: auto;
       
      }
    }

    footer{
      background: url("../img/links/background-footer.png") right top no-repeat;
    }
    
    .portfolio-modal .modal-content {
      padding: 4rem;
    }


  }