/* SCHEMA EDUCALINKS */ 
$educalinks_primary: #422777 !default;
$educalinks_secondary: #ff6514 !default;
$educalinks_alternate: #0ee6e6 !default;
$redlinks_tres: #660ff1;
$redlinks_cuatro: #00ecca !default;



#banner-01{
  background-color: #ff6514 !important;  background-size:  auto 100% ;
  
}
#banner-02{
  background-color: #422777 !important;  background-size:  auto 100% ;
}

.carousel {
  height: 1000px !important;
}
z

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $educalinks_primary;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
} 

.bg-primary {
  background-color: $educalinks_primary !important;
  .section-heading span {
    color: $educalinks_secondary !important;
  }
}

.bg-secondary {
  background-color: $educalinks_secondary !important;
  .section-heading span {
    color: $educalinks_primary;
  }
}

.bg-alternate {
  .section-heading span {
   color: $educalinks_secondary;
  }
}

.bg-light {
  background-color: #f8f9fa !important;
  .section-heading span {
    color: $educalinks_primary;
   }
}

.bg-linear-light{
  background: linear-gradient(#ffffff, #f8f9fa);
}

.border-danger {
  border-color: #dc3545 !important;
}

.btn-primary{ background-color: $educalinks_primary !important;} 
.btn-secondary{ background-color: $educalinks_secondary !important;} 

.text-primary{ color: $educalinks_primary !important; }
.text-secondary{ color: $educalinks_secondary !important; }
/*
.navbar{
    box-shadow: none !important;  
    //li.nav-item a{ color: $primary !important;}
    //.dropdown li a.dropdown-item{ color: white !important;}
    ul li a:hover{ color: $educalinks_primary !important;}  
    .dropdown li a.dropdown-item:hover{ color: $educalinks_primary !important;}  
}
*/

ul.navbar-nav.text-uppercase.ml-auto.esp_menu{  margin-left: auto !important;}

/*
.carousel {
  height: 764px !important;
}


.carousel-indicators{
  bottom: -15px;
  display: none;
  li{ 
    background: #2c4489 !important;
    border-radius: 25px;
    padding: 5px 1px;
  }
} 
*/
#inicio{
  .title_banner{
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 30px;
    line-height: 40px;
    color: white;
    padding-bottom: 20px;
  }
  .text_banner{
    font-size: 1.7rem;
    font-weight: 200;
    color: #ffffff;
    line-height: 35px;
    margin: 0;
    padding-bottom: 30px;
  }  
}

#ingenium{
  background: linear-gradient(#ffffff, #f8f9fa);
  h3{
    font-weight: 400;
    color: $educalinks_secondary;
  }
  h5{ font-weight: 400;}
}

#plataforma{
    background: #ffffff url("img/bg_section_2.jpg") left bottom repeat-x;
    margin-bottom: 0;
    padding: 0;
    margin-top: -73px;
    //background-size:100%;
    h3{
      color: $educalinks_secondary;
      font-size: xx-large;
      padding-bottom: 15px;
      padding-top: 70px;
      font-weight: 400;
    }
    h5{ font-weight: 400;}
    .tree_block {
      padding-top: 40px;
    }
    .card-title{
      font-size: x-large; 
      margin: 20px 0;
      span{ font-size: xxx-large; font-weight: 700; }
    }

    .card{
      border-radius: 20px;
      min-height: 620px;
      text-align: left;
      @include shadow;
      img{
          border-radius:20px; 
          margin-top: -2px;
      }
      h4{color: white;}
      p{
        line-height: 25px;
        font-weight: 200;
      }
    }
    .service-clients{ background: $educalinks_secondary; color: white;     border: none;}
    .service-offers{ background: $educalinks_primary; color: white;     border: none;}
    .service-sales{ background: $educalinks_secondary; color: white;    border: none;}

}


#funciones{
  margin-bottom: 70px;
  background-color: #e4e9ed;
  .section-heading {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 60px;
  }
  .feature{ 
    text-align: center;
    margin: 30px 20px;
    p.card-text {
      color: gray;
      font-size: medium;
    }
  }
}


#integraciones{
  
  .badge-secondary{
    background: $educalinks_secondary;
    font-size: 0.60rem;
  }

  .item-soon{
    color: rgb(185, 185, 185);
  }

}


#contact{
  padding: 0;
  margin-top: -60px;
  margin-bottom: 60px;
  .section-heading {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 60px;
  }
  strong{font-weight: bold;}
  .botonera {padding: 45px 0px;}
  a.btn {min-width: 60%;}
}



.portfolio-modal{
  .modal-body{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
  }
}


.img-fluid{ width: 100%; }
.list-styled{
  li{
    padding-left: 40px;
  }
   
}


@media (min-width: 768px) {
  #banner-01{
    background: url("../educalinks/img/banners/banner-educalinks.jpg") center top no-repeat;  background-size:  auto 100% ;
  }
  #banner-02{
    background: url("../educalinks/img/banners/banner-educalinks-02.jpg") center top no-repeat;  background-size:  auto 100% ;
  }
}