

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

.bg-primary {
  background-color: $primary !important;
  .section-heading span {
    color: $secondary !important;
  }
}


.bg-secondary {
  background-color: $secondary !important;
  .section-heading span {
    color: $primary;
  }
}


.bg-alternate {
  .section-heading span {
   color: $secondary;
  }
}

.bg-light {
  background-color: #f8f9fa !important;
  .section-heading span {
    color: $primary;
   }
}

.border-danger {
  border-color: #dc3545 !important;
}

 #services{

    .card{
      border-radius: 20px;
      min-height: 600px;
      img{
          border-radius:20px;
      }
    }

}

#benefits{
  background: #e9e9e9 url("../img/links/background-benefits.webp") left top no-repeat;
}


#portfolio{
  background: url("../img/links/background-portfolio.webp") center top no-repeat;
  background-size: auto 100%;
  .portfolio-item{
    @include shadow;
  }
  
}

.portfolio-modal{
  .modal-body{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
  }
}


#portfolioModalUees{
  .modal-content{
    background: white url("../img/links/portfolio/uees-desarrollo-de-sistema-de-citas-covid-banner.webp") right bottom no-repeat;
  }
}
#portfolioModalArgos{
  .modal-content{
  background: white url("../img/links/portfolio/tecnologico-argos-becas-municipio-de-guayaquil-banner.webp") right bottom no-repeat;
  }
} 
#portfolioModalEcotec{
  .modal-content{
    background: white url("../img/links/portfolio/ecotec-cuarto-de-monitoreo-y-seguridad-banner.webp") right bottom no-repeat;
  }
} 





#testimonials{
  background: #4e3792; 
  padding-bottom: 0.1em;

  h2{ color: white;}
  .testimonial{
    margin-bottom: 30px;
    p{
      min-height: 150px;
      background: white url("../img/links/background-testimonial.png") left bottom no-repeat;
      padding: 30px 60px 30px 60px;
      border-radius:0px 70px 70px 0px ;
      line-height: 1.4em;
    }
    .name{
      text-align: left;
      color: white;
      display: table;
      vertical-align: middle;
    }
    
    .person {
      width:100%;
      position: relative;
      margin-top:25px;
      margin: auto;
      //background: red;
    
      
    
      img{
        //border-radius: 50%;
        max-width: 200px;
        height: auto;
        @include shadow;
      }
      &:before{ 
        position:absolute;
        width: 30px;
        height: 30px;
        content: "";
        background: url("../img/links/background-bubble.png") center bottom no-repeat;
        top: -30px;
        left: 20%;
      }
      
    }
  }

}


#historia{
  background: url("../img/links/background-testimonials.jpg") center top no-repeat;
  padding: 12rem 0 6rem 0;
}



.img-fluid{ width: 100%; }
.list-styled{
  li{
    background: url("../img/links/vineta.png") left top no-repeat;
    padding-left: 40px;
  }
  
}


.banner-slide-valign{
  padding-top: 300px !important;
}


@media (min-width: 400px) {
  .mainMenu ul{
    background: rgba(255,255,255,0);
  }

}


@media (min-width: 768px) {




  

  .banner-slide-valign{
    padding-top: 0px;
  }
  

  .portfolio-modal .modal-content {
    padding: 2rem;
  }

  .testimonial {
    &:before{ 
      left: 5%;
    }
    .person {
      width:90%;
      margin-left: auto;
     
    }
  }
  
  .portfolio-modal .modal-content {
    padding: 4rem;
  }


}

