

$redlinks_primary: #ff0000 !default;
$redlinks_secondary: #007eac !default;
$redlinks_alternate: gray;
$redlinks_tres: #660ff1;
$redlinks_cuatro: #00ecca !default;

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $redlinks_primary;
}

.page-section h2.section-heading{ font-weight: 300;}

.bg_white{background-color: white;}

.bg-primary {
  background-color: $redlinks_primary !important;
  .section-heading span {
    color: $redlinks_secondary !important;
  }
}

 
.bg-secondary {
  background-color: $redlinks_secondary !important;
  .section-heading span {
    color: $redlinks_primary;
  }
}

.bg-footer{
  background-color: $redlinks_tres !important;
  .section-heading span {
    color: $redlinks_primary;
  }
}

.bg-alternate {
  .section-heading span {
   color: $redlinks_secondary;
  }
}

.bg-light {
  background-color: #f8f9fa !important;
  .section-heading span {
    color: $redlinks_primary;
   }
}


.btn-primary{background-color: $redlinks_primary !important;}
.btn-secondary{background-color: $redlinks_secondary !important;}

.border-danger {
  border-color: #dc3545 !important;
}


.text-primary{ color: $redlinks_primary !important; }
.text-secondary{ color: $redlinks_secondary !important; }

.navbar{
    box-shadow: none !important;
    
    //a{ color: white !important;}
    //a:hover{ color: white;}  
}

ul.navbar-nav.text-uppercase.ml-auto.esp_menu{  margin-left: auto !important;}



.banner-slide{
  img.logo_redlinks {
    width: 250px;
  }
  h1{font-weight: 500;
    font-size: 2.6rem;
    margin-top: 50px;}
    p.text-secondary {
      padding: 50px 0;
      font-size: 1.7rem;
  }
}

.carousel-indicators{
  bottom: -15px;
  display: none;
  li{ 
    background: #2c4489 !important;
    border-radius: 25px;
    padding: 5px 1px;
  }
} 

#inicio{
  .title_banner{
    font-size: xxx-large;
    font-weight: 500;
    padding-top: 30px;
    line-height: 47px;
  }
  .text_banner{
    font-size: xx-large;
    font-weight: 300;
    color: #aea1c7;
    line-height: 40px;
    margin: 45px 0 0px 0 !important;
  }  
}

#plataforma{
  .card{
    @include shadow;
  }
}

#plataforma{
    background: #ffffff url("../img/bg_section_2.jpg") left bottom repeat-x;
    margin-bottom: 120px;
    //background-size:100%;
    h3{
      color: $redlinks_secondary;
      font-size: xx-large;
      padding-bottom: 15px;
      padding-top: 70px;
      font-weight: 700;
    }
    .tree_block {
      padding-top: 70px;
    }
    .card-title{
      font-size: x-large; 
      margin: 20px 0;
      span{ font-size: xxx-large; font-weight: 700; }
    }

    .card{
      border-radius: 20px;
      min-height: 620px;
      text-align: left;
      img{
          border-radius:20px; 
      }
      p{
        line-height: 25px;
        font-size: smaller;
        font-weight: 200;
      }
    }
    .service-clients{ background: $redlinks_secondary; color: white;}
    .service-offers{ background: $redlinks_primary; color: white; }
    .service-sales{ background: $redlinks_secondary; color: white;}

}

#funciones{
  margin-bottom: 70px;
  background-color: #e4e9ed;
  .section-heading {
    font-weight: 400;
  }
  .feature{ 
    text-align: center;
    margin: 30px 20px;
    p.card-text {
      color: gray;
      font-size: medium;
    }
  }
}



#integraciones{
  
  .badge-secondary{
    background: $redlinks_secondary;
    font-size: 0.60rem;
  }

  .item-soon{
    color: rgb(185, 185, 185);
  }

}


.portfolio-modal{
  .modal-body{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
  }
}


#services{
  .text_services{
    p{    
      padding-bottom: 10px;
      font-size: x-large;
    }
  }
  .lista{
    margin: 40px 0;
    .card_redlinks{
      min-height: 350px;
      border-radius: 0 0 20px 20px;
      h4,h5,p{color: white;}
      h5{
        font-size: 1.6rem;
        font-weight: 500;
      }
      p{
        padding: 25px 0;
        font-weight: 200;
        font-size: 1.1rem !important;        
      }
    }
  }
}

#benefits{
  background-image: none;
  background-color: white;
  padding: 30px 0 0 0;
  p {
    font-size: x-large;
    padding: 5px 0 30px 0;
    line-height: 30px;
    font-weight: 200;
    margin: 0;
}
  h2{    
    font-weight: 400;
    font-size: 2rem;
  }
  a.btn {width: 60%;}
  .row.bt-center {
    margin-bottom: 70px;
}
}

#contact{
  background-color: #efeded;
  padding: 3rem 0;
  .section-heading{
    font-weight: 200;
    font-size: 2rem;
  }
  .text-center{ 
    margin: 50px 0;
    h4.section-heading {
      margin: 0 0 70px 0;
      font-weight: 400;
    }
  }
  a.btn {width: 60%;}
  .lista{
    padding: 50px 0 20px 0;
  }
}


.img-fluid{ width: 100%; }

.list-styled{
  li{
    padding-left: 40px;
  }
}


footer.footer.bg-primary{ background-color: $redlinks_tres !important;}