#banner{
  background: $primary url('../img/webinars/2021-jul-aulas-hibridas/webinar-banner-links-ecuador.jpg') center bottom no-repeat !important;

  label{ display: none;}
}
 
.badge-secondary{
  background: $secondary;
  padding: 10px;
  letter-spacing: 3px;
  color: $primary;
  margin: 15px;
}

#services{

    .card{
      border-radius: 20px;
      min-height: 600px;
      img{
          border-radius:20px;
      }
    }
}

#topics{
  background: url("../img/webinars/2021-jul-aulas-hibridas/webinar-topics-links.jpg") right bottom no-repeat;
}


#speaker-data{
  background: url("../img/webinars/2021-jul-aulas-hibridas/webinar-speaker-data.jpg") center top no-repeat;
  color: white;
  h6{ color: $secondary;  }
  
}
 


@media (min-width: 400px) {
 

}


@media (min-width: 768px) {




   


}

