
        <!-- Footer-->
        <footer class="footer bg-purple" >
            <div class="container">

                <div class="row text-left">
                    <div class="col-md-3  pt-5 pb-md-5">
                    <img src="img/links/logo-links-blanco.png" width="160" alt="Links S.A. Ecuador">
                    <br>
                    <br>
                    <ul class="list">
                        <li> <a target="_blank" href="https://www.google.com/maps/place/Educalinks/@-2.0396917,-79.8573167,15z/data=!4m12!1m6!3m5!1s0x0:0x29bec43f88f52a53!2sEducalinks!8m2!3d-2.0396917!4d-79.8573167!3m4!1s0x0:0x29bec43f88f52a53!8m2!3d-2.0396917!4d-79.8573167"> <i class="fa fa-map-marker-alt"> </i> &#160&#160Km. 13.5 vía a Samborondón</a> </li>
                        <li> <a target="_blank" href="mailto:info@links.com.ec"> <i class="fa fa-envelope"> </i> &#160&#160info@links.com.ec</a> </li>
                        <li> <a target="_blank" href="tel:59343726466"> <i class="fa fa-phone"> </i>&#160&#160 043 726 466</a> </li>
                    </ul>
                    </div>
                    <div class="col-md-3  pt-5 pb-md-5  px-md-5">
                        <h5>Nosotros</h5>
                        <ul class="list-styled">
                            <li> <a href="donwloads/presentacion-links.pdf" rel="nofollow" target="_blank"> <i class="fa fa-chevron-right "></i>&#160&#160  Presentación PDF</a> </li>
                            <li> <a href="https://soporte.redlinks.com.ec/portal/es/signin" rel="nofollow" target="_blank"> <i class="fa fa-chevron-right "></i>&#160&#160Únete a nuestro equipo</a> </li>
                            <li> <a href="https://soporte.redlinks.com.ec/portal/es/signin" rel="nofollow" target="_blank"> <i class="fa fa-chevron-right"></i>&#160&#160Soporte</a> </li>
                        </ul>
                    </div>
                    <div class="col-md-3   pt-5 pb-md-5 px-md-5">
                        <h5>Productos</h5>
                        <ul class="list-styled">
                            <li> <a href="http://educalinks.com.ec" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160Educalinks</a> </li>
                            <li> <a href="http://redlinks.com.ec" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160Redlinks</a> </li>
                            <li> <a href="http://socialtray.net" rel="dofollow"> <i class="fa fa-chevron-right "></i>&#160&#160SocialTray</a> </li>
                        </ul>
                    </div>
                            
                    <div class="col-md-3 pt-5 pb-md-5">
                            <h5>Suscríbete</h5>
                            <p>
                                Mantente al día con nuestras últimas actualizaciónes.
                            </p>





<form action="https://redlinks.us15.list-manage.com/subscribe/post?u=a578bee4eaebb00ba064859b1&amp;id=26c9e3a9b3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div class="form-group form-suscription">
                                    <input class="form-control required email" id="mce-EMAIL"  name="EMAIL"  type="email"   placeholder="Escriba su email *"   data-validation-required-message="Por favor ingrese su email." />
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>  
                                    <p class="help-block text-danger"></p>
                                    <div class=" text-center">
                                        <div id="success"></div>
                                        
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                            <input type="text" name="b_a578bee4eaebb00ba064859b1_26c9e3a9b3" tabindex="-1" value="">
                                        </div>
                                        <div class="clear">
                                            <button class="btn btn-primary " id="mc-embedded-subscribe" aria-label="suscríbete" type="submit"><i class="fa fa-paper-plane "></i></button>
   
                                        </div>
                                    </div>
                                </div>
                                </form>
                    </div>
                </div>



                <div class="row align-items-center " id="credits">
                    <div class="col-lg-4 text-lg-left " style="text-align: left; ">Copyright © Links S.A. 2020</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2"  rel="nofollow" target="_blank" href="https://twitter.com/links_ec"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" rel="nofollow" target="_blank"href="https://www.facebook.com/Linksec-101748228473331"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" rel="nofollow" target="_blank" href="https://www.linkedin.com/company/16216015/admin/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-dark btn-social mx-2" rel="nofollow" target="_blank" style="padding: 8px 15px 20px 20px;"  href="https://www.tiktok.com/@linksec"> <i class="fab fa-tiktok"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" href="#!">Politica de Privacidad</a>
                        <a href="#!">Términos de Uso</a>
                    </div>
                </div>
            </div>
        </footer>