        <!-- Portfolio Modals-->
        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModalUees" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="close-modal" data-dismiss="modal"><img src="img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                            
                            <div class="row modal-title text-left m-0 p-0">
                                <h3>Implementación de test y agendamiento de citas virtual en UEES clinic.</h3>
                                        <div class="breadcrumb pl-0 pr-0">
                                            <span>Desarrollo</span> <span>Web App</span> <span>UEES</span>
                                        </div>
                            </div>
                            
                            <div class="row modal-body text-left m-0 p-0" >

                            
                                    <div class="col-lg-8 pr-md-5">

                                        <div class=" hide-in-desktop show-in-movil">
                                            
                                            <img class="img-fluid" src="img/links/portfolio/uees-desarrollo-de-sistema-de-citas-covid.jpg" alt="Sistema de registro COVID - UESSClinic" />
                                        </div>
                                        
                                        <h3>Situación inicial: </h3>
                                        <p>
                                        Durante la cuarentena la demanda de hospitales aumentó y la universidad UEES creó UEES Clinic, una clínica de atención médica para sus administrativos, docentes y estudiantes, para atender exclusivamente casos de coronavirus.
                                        
                                        Sin embargo, para evitar las aglomeraciones de personas por la situación crítica de la pandemia debían de encontrar un filtro para atender únicamente a los casos que se diagnostiquen positivos  previos a la visita clínica. 
                                        </p>
                                        <h3>Solución: </h3>
                                        <p>
                                        Nos contactaron indicando el problema de las aglomeraciones e inmediatamente nosotros les brindamos la solución, mediante la creación de un test para que de acuerdo al resultado las personas acudan o no a la clínica.  Una vez realizado el test virtual mediante un sistema automatizado el paciente podía agendar sus citas. Además, se debía llenar un formulario que era revisado posteriormente por el Ministerio de Salud para aprobar la realización de las pruebas de coronavirus. 
                                        Debido a que la UEES necesitaba que se desarrolle esta solución  con suma urgencia, logramos la implementación en un fin de semana asegurando una respuesta inmediata, ágil y eficaz sin tener que paralizar las labores  de la clínica. Permitiendo que los resultados publicados se encuentren disponibles en cualquier momento. Gracias a este sistema la clínica pudo expandir sus servicios a todos los Municipios y comunidad. Asegurando una atención médica de calidad a sus pacientes cumpliendo todas las medidas de bioseguridad.
                                        </p>


                                        <a class="btn btn-xl btn-primary mb-5" href="https://www.uees.edu.ec/ueesclinic/" target="_blank">
                                            Conoce más de este proyecto
                                        </a>
                                        
                                </div>

                                <div class="col-lg-4 ml-0 pl-0 show-in-desktop hide-in-movil">

                                </div>


                               
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModalArgos" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content " >
                    <div class="close-modal" data-dismiss="modal"><img src="img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                            <div class="row modal-title text-left m-0 p-0">
                                
                                <h3>Postulación virtual para becas en el Tecnológico Argos.</h3>
                                <small class="mb-2 ">Digitalización y automatización de los procesos administrativos y de postulación. </small>
                                 
                                <div class=" breadcrumb pl-0 pr-0">
                                    <span>Desarrollo</span> <span>Web App</span> <span>Tecnológico Argos</span>
                                </div>
                            </div>
                            
                            <div class="row modal-body text-left m-0 p-0">

                                    <div class="col-lg-8 pr-md-5">

                                        <div class=" hide-in-desktop show-in-movil">
                                            <img class="img-fluid" src="img/links/portfolio/tecnologico-argos-becas-municipio-de-guayaquil.jpg" alt="Sistema web de becas municipio de Guayaquil" />
                                        </div>
                                        
                                        <h3>Situación inicial: </h3>
                                        <p>
                                            El tecnológico Argos realizó un <a href="https://guayaquil.gob.ec/becas-argos"> convenio con el    Municipio de Guayaquil</a> para brindarle a la comunidad 5400 becas de  durante 3 años en la modalidad Online.
                                        </p>
                                        <h3>Solución: </h3>
                                        <p>
                                            Se procedió a brindarles el asesoramiento y a digitalizar el proceso de postulación e inscripción, mediante el desarrollo de un formulario en línea y la unión de los pasos a seguir. En donde dentro de una misma plataforma se encontraba toda la información y los alumnos podían mantenerse en contacto con el Tecnológico ante cualquier consulta que se presente.
                                            Además, se centralizó todo el proceso administrativo y métricas necesarias  para agilizar sus procesos y tener la información completa  en tiempo real, evitando que el personal realice procesos manuales y asegurando la optimización y ahorro de los recursos del tecnológico Argos.
                                            Gracias a la solución brindada a Argos puso realizar su proceso de postulación masiva de manera exitosa a toda la comunidad guayaquileña, brindando un servicio totalmente personalizado y digitalizado con un respaldo de información actualizada.                                             
                                        </p>

                                        <a class="btn btn-xl btn-primary mb-5" href="https://admisiones.tecnologicoargos.edu.ec/entidad/targos" target="_blank">
                                            Conoce más de este proyecto
                                        </a>
                                        

                                </div>

                                <div class="col-lg-4 ml-0 pl-0 show-in-desktop hide-in-movil">
                                    
                                </div>


                               
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModalEcotec" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="close-modal" data-dismiss="modal"><img src="img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                            <div class="row modal-title text-left m-0 p-0">
                                <h3>Sistema de seguridad integrado y automatizado en Ecotec.</h3>
                                <small class="mb-2 ">El personal de seguridad de la universidad usa este sistema para optimizar su eficiencia, estar mejor informados y ofrecer una seguridad de calidad a la comunidad educativa. </small>
                                 
                                <div class="breadcrumb pl-0 pr-0">
                                    <span>Desarrollo</span> <span>Web App</span> <span>Tecnológico Argos</span>
                                </div>
                            </div>
                            
                            <div class="row modal-body text-left m-0 p-0">

                                    <div class="col-lg-8 pr-md-5">

                                        <div class=" hide-in-desktop show-in-movil">
                                            <img class="img-fluid" src="img/links/portfolio/ecotec-cuarto-de-monitoreo-y-seguridad.jpg" alt="Implementación de cuarto de seguridad monitoreo" />
                                        </div>
                                        
                                        <h3>Situación inicial: </h3>
                                        <p>
                                            La universidad había logrado implementar cámaras de seguridad en sus 3 campus, pero era humanamente imposible poder estar al tanto de las 210 cámaras con las que contaban. Su objetivo era aumentar la seguridad y que el personal encargado pueda saber cada movimiento que ocurre en las 3 instalaciones en un mismo lugar.
Sin embargo, no tenían un sistema de vigilancia integrado ni los equipos adecuados. Para alcanzar este objetivo, nosotros implementamos un sistema integrado que reunía a las 210 cámaras en un solo sitio, optimizando sus recursos y ayudando al operador de una manera óptima. 
.
                                        </p>
                                        <h3>Solución: </h3>
                                        <p>
                                            Para brindar monitoreo de seguridad en los 3 campus se unieron las 210 cámaras puestas en un sitio estratégico, donde se colocaron televisores y monitores. Se adecuó este espacio y se lo convirtió en un cuarto de vigilancia el cual permite que el operador vea todo lo que sucede en tiempo real. En conjunto se automatizó el sistema de alarmas y de visualización. 
Asimismo, se creó un sistema de configuración el cual permite que se configure un rango horario para determinada cámara y que se produzca una alarma si alguien pasa. Además, si desean revisar grabaciones de días anteriores se pueden visualizar de una manera más óptima y eficaz garantizando la seguridad en los 3 campus.

                                        </p>

                                       
                                        
                                </div>

                                


                               
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Contacts-->
        <div class="portfolio-modal modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    <div class="close-modal" data-dismiss="modal"><img src="img/links/close-icon.svg" alt="Close modal" /></div>
                    
                    <div class="container m-0 p-0">

                        <div class="modal-header py-4">
                            <h4 class="pl-4">Escríbenos</h4>
                        </div>

                
                    
                        <div class="row p-5 ">

                        <form id="form_data" action="http://links.socialtray.net:90/guardar_respuestas">
                            
                            <div class="rendered-form">

                                <input type="hidden" name="prog_id" value="9" access="false" id="prog_id">
                                <input type="hidden" name="fte_contacto" value="5" access="false" id="fte_contacto">
                                <input type="hidden" name="form_id" value="9"><div class="formbuilder-text form-group field-text-1612294898251">

                                    
                                    <div class="row mb-3">
                                        <label class="col-md-6">
                                            
                                            <small class="text-right">Nombre * </small>
                                            <input type="text" placeholder="Nombre" class="form-control" name="nombre" access="false" id="nombre" required="required" aria-required="true">        
                                        </label>
                                        <label class="col-md-6">
                                            
                                            <small class="text-right">Teléfono * </small>
                                            <input type="text" placeholder="Teléfono fijo o celular" class="form-control" name="telefono" access="false" id="telefono" required="required" aria-required="true">      
                                        </label>
                                    </div>
                                    
                                    <div class="row mb-3">
                                        <label class="col-md-6">
                                            
                                            <small class="text-right">Email * </small>
                                            <input type="text" placeholder="Email" class="form-control" name="correo" access="false" id="correo" required="required" aria-required="true">
                                        </label>
                                        <label class="col-md-6">
                                            
                                            <small class="text-right">Empresa * </small>
                                            <input type="text"placeholder="Empresa" class="form-control" name="empresa" access="false" id="empresa" required="required" aria-required="true">
                                        </label>
                                    </div>
                                    
                                    <small class="text-right">Comentario * </small>
                                    <textarea type="textarea" class="form-control" name="observacion" access="false" id="observacion" rows="6"></textarea></div>
                                
                                    <div class="formbuilder-button form-group field-button-1612294991866">
                                        <button type="submit" class="btn btn-xl btn-primary" name="button-1612294991866" access="false" style="default" id="button-1612294991866">Enviar</button>
                                    </div>

                            </div>

                        </form>

                            
                        
                            
                        </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Appointment -->
        <div class="portfolio-modal modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    <div class="close-modal" data-dismiss="modal"><img src="img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">

                        <iframe src="https://calendly.com/links-sa/reserva-de-cita" style="border: 0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>



        