        <!-- Educalinks Modals-->
        
        <!-- Modal popup -->
        <div class="portfolio-modal modal fade" id="popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    
                    <div class="container m-0 p-0">
                        <img src="img/popups/2021-abr-donwload-pdf.jpg" alt="" width="100%">
                        <div class="row p-5 ">
                            <h3>PopUP </h3>
                            <p>test text.</p>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
        <!-- Modal Appointment -->
        <div class="portfolio-modal modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-0">
                    <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                    <div class="container m-0 p-0">
                        <iframe src="https://calendly.com/links-sa/reserva-de-cita" style="border: 0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>


    <!--  QUOTE -->

    <div class="portfolio-modal modal fade" id="educalinksQuoteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-0">
                <div class="close-modal" data-dismiss="modal"><img src="/img/links/close-icon.svg" alt="Close modal" /></div>
                
                <div class="container m-0 p-0">

                    <div class="modal-header py-4">
                        <h4 class="pl-4">Cotiza Aquí</h4>
                    </div>

                    <div class="row p-5 ">

                        <form id="form_data" action="https://links.socialtray.net/guardar_respuestas">

                            <div class="rendered-form">
                            <input type="hidden" name="prog_id" value="13" access="false" id="prog_id">
                            <input type="hidden" name="fte_contacto" value="5" access="false" id="fte_contacto">
                            <input type="hidden" name="form_id" value="12">

                                <img src="/educalinks/img/logo-ingenium-texto-gris.png" alt="ingenium aula virtual para colegios" class="hide-in-desktop show-in-movil">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <small class="text-right">Nombre * </small>
                                    <input type="text" class="form-control" name="nombre" access="false"  id="nombre" required="required" aria-required="true">
                                </div>
                                <div class="col-md-6">
                                    <small class="text-right">Correo * </small>
                                    <input type="text" class="form-control" name="correo" access="false" id="correo" required="required" aria-required="true">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <small class="text-right">Teléfono * </small>
                                    <input type="text" class="form-control" name="telefono" access="false" id="telefono" required="required" aria-required="true">
                                </div>
                                <div class="col-md-6 ">
                                    <small class="text-right"> <strong>Escuela o Colegio</strong> en el que deseas implementar Ingenium * </small>
                                    <input type="text" class="form-control" name="direccion" access="false" id="direccion" required="required" aria-required="true"> 
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-xl" name="button-1617218059917" access="false" style="default" id="button-1617218059917">Enviar</button>

                        </form>
                        
                    
                        
                  
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

