

.text-primary{ color: $primary !important; }
.text-secondary{ color: $secondary !important; }

body {
  overflow-x: hidden;
}

.navbar{
    box-shadow: none !important;
    
    //a{ color: white !important;}
    //a:hover{ color: white;}  
}


.carousel-indicators{
  bottom: -15px;
  li{ 
    background: #2c4489 !important;
    border-radius: 25px;
    padding: 5px 1px;
  }
} 





  #plataforma{
    background: #ffffff;
    margin-bottom: 120px;
    //background-size:100%;

    .card-title{
      font-size: large; 
      span{ font-size: xxx-large; font-weight: 700; }
    }

    .card{
      border-radius: 20px;
      min-height: 600px;
      text-align: left;
      font-weight: 300 !important;
      img{
          border-radius:20px; 
      }
      p{
        line-height: 25px;
      }
    }
    .service-clients{ background: $primary; color: white;}
    .service-offers{ background: $secondary; color: white; }
    .service-sales{ background: $alternate; color: white;}

  }

#funciones{
  background: #f4f4f4 url("../img/background-decorative.jpg") center top no-repeat;
  padding-top: 600px;
  margin-top: 90px;
  margin-bottom: 70px;
  .section-heading {
    line-height: 50px;
    margin-bottom: 50px;
  }
  .feature{ text-align: center;}
}


#plataforma{
  .card{
    @include shadow;
  }
}
#integraciones{
  
  .badge-secondary{
    background: $secondary;
    font-size: 0.60rem;
  }

  .item-soon{
    color: rgb(185, 185, 185);
  }

}


.portfolio-modal{
  .modal-body{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
  }
}


#portfolioModalUees{
  .modal-content{
    background: white url("../img/links/portfolio/uees-desarrollo-de-sistema-de-citas-covid-banner.webp") right bottom no-repeat;
  }
}
#portfolioModalArgos{
  .modal-content{
  background: white url("../img/links/portfolio/tecnologico-argos-becas-municipio-de-guayaquil-banner.webp") right bottom no-repeat;
  }
} 
#portfolioModalEcotec{
  .modal-content{
    background: white url("../img/links/portfolio/ecotec-cuarto-de-monitoreo-y-seguridad-banner.webp") right bottom no-repeat;
  }
} 



#contact{
  .text-center{ margin: 50px 0;}
}




footer{
  padding: 3rem 0;
  color: white;
  font-size: 14px;

    h5{
      margin-bottom: 30px;
      color: $secondary;
    }
    a{ color: white;}
    a:hover{ color: $secondary;}

    .form-suscription{
      position: relative; 
          button, #mc-embedded-subscribe{ position: absolute; right: 7px; top: 7px; border-radius: 5px 30px 30px 30px !important; background: $primary !important;
            padding: 0.84rem 1.14rem;;
          }

          .form-control {
            height: calc(1.5em + 2rem + 2px);   
            border-radius: 2rem;
          }
      }

.list-styled {
  margin: 0;
  padding: 0;
  li{
    padding: 7px 0;
    list-style: none !important;
    border-bottom: 1px dotted white;
  }
}

.list{
  margin: 0;
  padding: 0;
  li{
    padding: 7px 0;
    list-style: none !important;
  }
}



}


#credits{ text-align: center !important;  }

.img-fluid{ width: 100%; }
.list-styled{
  li{
    background: url("../img/links/vineta.png") left top no-repeat;
    padding-left: 40px;
  }
  
}
