$redlinks_primary: #ff0000 !default;
$redlinks_secondary: #422777 !default;
$redlinks_alternate: #ff5d5e;
$redlinks_tres: #422777;
$redlinks_cuatro: #00ecca !default;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $redlinks_primary;
}

& {
  background-color: #f3f3f3;
}

.page-section h2.section-heading {
  font-weight: 300;
}

.bg_white {
  background-color: white;
}

.bg-primary {
  background-color: $redlinks_primary !important;
  .section-heading span {
    color: $redlinks_secondary !important;
  }
}

.bg-secondary {
  background-color: $redlinks_secondary !important;
  .section-heading span {
    color: $redlinks_primary;
  }
}

.bg-footer {
  background-color: $redlinks_tres !important;
  .section-heading span {
    color: $redlinks_primary;
  }
}

.bg-alternate {
  background-color: $redlinks_alternate !important;
  .section-heading span {
    color: $redlinks_alternate;
  }
}

.bg-light {
  background-color: #f8f9fa !important;
  .section-heading span {
    color: $redlinks_primary;
  }
}

.btn-primary {
  background-color: $redlinks_primary !important;
}
.btn-secondary {
  background-color: $redlinks_secondary !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.text-primary {
  color: $redlinks_primary !important;
}
.text-secondary {
  color: $redlinks_secondary !important;
}

.navbar {
  box-shadow: none !important;

  //a{ color: white !important;}
  //a:hover{ color: white;}
}

ul.navbar-nav.text-uppercase.ml-auto.esp_menu {
  margin-left: auto !important;
}

.banner-slide {
  img.logo_redlinks {
    width: 250px;
  }
  h1 {
    font-weight: 500;
    font-size: 2.6rem;
    margin-top: 50px;
  }
  p.text-secondary {
    padding: 50px 0;
    font-size: 1.7rem;
  }
}

.carousel-indicators {
  bottom: -15px;
  display: none;
  li {
    background: #2c4489 !important;
    border-radius: 25px;
    padding: 5px 1px;
  }
}

#inicio {
  .title_banner {
    font-size: xxx-large;
    font-weight: 500;
    padding-top: 30px;
    line-height: 47px;
  }
  .text_banner {
    font-size: xx-large;
    font-weight: 300;
    color: #aea1c7;
    line-height: 40px;
    margin: 45px 0 0px 0 !important;
  }
}

#plataforma {
  .card {
    @include shadow;
  }
}

#plataforma {
  background: #ffffff url("../img/bg_section_2.jpg") left bottom repeat-x;
  margin-bottom: 120px;
  //background-size:100%;
  h3 {
    color: $redlinks_secondary;
    font-size: xx-large;
    padding-bottom: 15px;
    padding-top: 70px;
    font-weight: 700;
  }
  .tree_block {
    padding-top: 70px;
  }
  .card-title {
    font-size: x-large;
    margin: 20px 0;
    span {
      font-size: xxx-large;
      font-weight: 700;
    }
  }

  .card {
    border-radius: 20px;
    min-height: 620px;
    text-align: left;
    img {
      border-radius: 20px;
    }
    p {
      line-height: 25px;
      font-size: smaller;
      font-weight: 200;
    }
  }
  .service-clients {
    background: $redlinks_secondary;
    color: white;
  }
  .service-offers {
    background: $redlinks_primary;
    color: white;
  }
  .service-sales {
    background: $redlinks_secondary;
    color: white;
  }
}

#funciones {
  margin-bottom: 70px;
  background-color: #e4e9ed;
  .section-heading {
    font-weight: 400;
  }
  .feature {
    text-align: center;
    margin: 30px 20px;
    p.card-text {
      color: gray;
      font-size: medium;
    }
  }
}

#integraciones {
  .badge-secondary {
    background: $redlinks_secondary;
    font-size: 0.6rem;
  }

  .item-soon {
    color: rgb(185, 185, 185);
  }
}

.portfolio-modal {
  .modal-body {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
  }
}

#services {
  .text_services {
    p {
      padding-bottom: 10px;
      font-size: x-large;
    }
  }
  .lista {
    margin: 40px 0;
    .card_redlinks {
      min-height: 350px;
      border-radius: 0 0 20px 20px;
      h4,
      h5,
      p {
        color: white;
      }
      h5 {
        font-size: 1.6rem;
        font-weight: 500;
      }
      p {
        padding: 25px 0;
        font-weight: 200;
        font-size: 1.1rem !important;
      }
    }
  }
}

#benefits {
  background-image: none;
  background-color: white;
  padding: 30px 0 0 0;
  p {
    font-size: x-large;
    padding: 5px 0 30px 0;
    line-height: 30px;
    font-weight: 200;
    margin: 0;
  }
  h2 {
    font-weight: 400;
    font-size: 2rem;
  }
  a.btn {
    width: 60%;
  }
  .row.bt-center {
    margin-bottom: 70px;
  }
}

#contact {
  background-color: #efeded;
  padding: 3rem 0;
  .section-heading {
    font-weight: 200;
    font-size: 2rem;
  }
  .text-center {
    margin: 50px 0;
    h4.section-heading {
      margin: 0 0 70px 0;
      font-weight: 400;
    }
  }
  a.btn {
    width: 60%;
  }
  .lista {
    padding: 50px 0 20px 0;
  }
}

.img-fluid {
  width: 100%;
}

.list-styled {
  li {
    padding-left: 40px;
  }
}

.top-bar {
  padding-top: 100px;
  background-color: $redlinks_secondary;
  display: flex;
  justify-content: center;
  font-size: 20px;
  overflow: hidden;
  ul {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    display: flex;
    list-style: none;
  }

  li {
    padding-bottom: 20px;
    position: relative;

    &:after {
      // opacity: 0;
      // transition: transform 200ms;
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 20px;
      height: 20px;
      background-color: #d34b49;
    }

    &.active:after {
      content: "";
      transform: rotate(45deg);
    }

    &:hover:after {
      content: "";
      transform: rotate(45deg);
    }
  }

  a {
    color: white;
  }
}

// usuarios

.hero {
  font-size: 22px;
  color: $white;
  background: url("../../redlinks/img/Banner_redlinks2021.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
  }

  .rl-logo {
    width: 400px;
    margin-bottom: 40px;
  }

  .text-lg {
    font-size: 70px;
  }

  .text-md {
    font-size: 48px;
  }

  &-info {
    width: 55%;
    padding: 120px 0;
    p {
      margin: 0;
      line-height: 1.5em;
    }
  }

  &-img {
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
  }

  .download-buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;

    a {
      width: 200px;

      img {
        width: 100%;
      }
    }
  }

  .play-btn {
    position: absolute;
    left: -100px;
    top: 100px;
  }
}

.locales {
  font-size: 32px;
  margin: 25px 0;

  .container {
    // width: 58% !important;
  }

  h2 {
    margin-bottom: 40px;
  }

  .marcas-participantes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
  }

  .splide__track {
    gap: 35px;
  }

  .splide__slide {
    padding: 20px;
    overflow: hidden;
    border-radius: 25px;

    .img-container {
      overflow: hidden;
      border-radius: 25px;
      box-shadow: 0 0 20px 0px gray;
    }

    img {
      width: 100%;
    }
  }
}

.usuarios {
  // background: url("../../redlinks/img/app_redlinks.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(right - 10px) bottom;
  margin-bottom: 50px;
  // backg

  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
  }

  .info {
    margin-left: 60px;
    width: 40%;
    padding: 150px 0;
  }

  h1 {
    font-size: 62px;
  }

  p {
    line-height: 1.3em;
    font-size: 44px;
    color: $redlinks_secondary;
  }

  img {
    height: 100%;
    z-index: -1;
    // position: absolute;
    // bottom: 0;
    // right: 10%;
  }
}

.how-to {
  margin: 50px 0;
  .title {
    font-size: 48px;
  }

  p {
    font-size: 20px;
    // text-align: left;
  }

  img {
    width: 100%;
  }
}

.beneficios {
  .container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  .beneficio {
    width: 350px;
    display: inherit;
    gap: 5px;
    width: 0.8fr;
  }

  .icon {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }
}

.afiliacion {
  margin-bottom: 100px;
  & .container > * {
    margin: 50px;
  }

  p {
    font-size: 42px;
    line-height: 1.2em;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .btn {
    width: 250px !important;
    text-transform: none;
  }

  .btn-register {
    background-color: $redlinks_alternate;
    color: $white;
  }
}

// #header {
//   .navbar {
//     background-color: $redlinks_alternate;
//     &:hover {
//       background-color: white;
//     }
//   }
// }

#videoRedlinks iframe {
  background: #000;
}

footer.footer.bg-primary {
  background-color: $redlinks_tres !important;
}

.text-color-opaque {
  color: $redlinks_alternate !important;
}

.splide__arrow {
  background: none;

  &:hover {
    background-color: #42277763;
  }

  svg {
    fill: $redlinks_secondary;
  }

  &--prev {
    left: -2em !important;
  }
  &--next {
    right: -2em !important;
  }
}

.splide__pagination {
  bottom: -0.5em;
  &__page.is-active {
    background-color: $redlinks_secondary;
    opacity: 1;
  }
}

@media (max-width: $sm) {
  .hero {
    .download-buttons {
      justify-content: center;
    }
    .text-md {
      font-size: 1.7em;
    }
    .rl-logo {
      width: 90%;
    }
  }

  .locales {
    img {
      width: 200px;
    }
  }

  .how-to {
    img {
      width: 200px;
    }

    p {
      line-height: 1.1em;
    }
  }
}

@media (max-width: $md) {
  .hero {
    &-info,
    &-img {
      width: 100%;
    }

    &-img {
      display: block;
      width: fit-content;
      margin: auto;
    }
    .play-btn {
      left: 25%;
      top: 40%;
    }
  }

  .locales {
    h2 {
      font-size: 0.8em;
    }
  }

  .usuarios {
    .container {
      flex-wrap: wrap;
    }

    &::before {
      content: "";
      background-image: url("../../redlinks/img/app_redlinks.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
      z-index: -1;
    }

    .info {
      width: 100%;
      margin: 0vh;
    }

    p {
      font-size: 2.4em;
    }

    img {
      display: none;
      width: 100%;
      margin-top: -400px;
    }
  }
}
