

$socialtray_primary: #2c4489 !default;
$socialtray_secondary: #17ab7d !default;
$socialtray_alternate: #1788ac !default;
$redlinks_tres: #660ff1;

&{
  height: 100%;
  color: $socialtray_primary;
  overflow-x: hidden;
  background: #ffffff;
}


#banner-01{
  background: url("../socialtray/img/banners/crm-captacion-de-clientes.jpg") left top no-repeat;  background-size:  auto 100% 
}



@media (min-width: 768px) {
  #banner-01{
    background: url("../socialtray/img/banners/crm-captacion-de-clientes.jpg") center top no-repeat;  background-size:  auto 100% ;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: $socialtray_primary;
}

.page-section {
  padding:0;
}

.text-primary{ color: $socialtray_primary !important; }
.text-secondary{ color: $socialtray_secondary !important; }


.btn-primary {
  color: #fff !important;
  background-color: $socialtray_primary;
  border-color: $socialtray_primary;
}

.btn-secondary{
  color: #fff !important;
  background-color: $socialtray_secondary;
  border-color: $socialtray_secondary;
}
  
.btn-socialtray{
  border-radius: 30px 3px 30px 30px !important;
}

footer.footer.bg-primary{ background-color: $redlinks_tres !important;}



.btn-socialtray-inverse{
  border-radius: 30px 30px 30px 3px !important;
  background-color: $socialtray_secondary;
  color: $socialtray_primary !important;
}


a.btn-socialtray-inverse:hover, a.btn-socialtray:hover{
  color:white !important;
}

.navbar{
    box-shadow: none !important;
    //background: $primary !important;
    //a{ color: white !important;}
    //a:hover{ color: white;}  
}

 



.carousel-indicators{
  bottom: -15px;
  li{ 
    background: #2c4489 !important;
    border-radius: 25px;
    padding: 5px 1px;
  }
} 


.container-fluid{
  padding: 0 !important;
}


  #plataforma{
    background: #ffffff;
    margin-bottom: 120px;
    //background-size:100%;

    .card-title{
      font-size: large; 
      color: white;
      span{ font-size: xxx-large; font-weight: 700; }
    }

    .card{
      border-radius: 20px;
      min-height: 600px;
      text-align: left;
      font-weight: 300 !important;
      img{
          border-radius:20px; 
      }
      p{
        line-height: 25px;
      }
    }
    .service-clients{ background: $socialtray_primary; color: white;}
    .service-offers{ background: $socialtray_secondary; color: white; }
    .service-sales{ background: $socialtray_alternate; color: white;}

  }

#funciones{
  
  padding-top: 600px;
  margin-top: 90px;
  margin-bottom: 70px;
  .section-heading {
    line-height: 50px;
    margin-bottom: 50px;
  }
  .feature{ text-align: center;}
}


#plataforma{
  .card{
    @include shadow;
  }
}

#integraciones{
  
  .badge-secondary{
    background: $socialtray_secondary;
    font-size: 0.60rem;
  }

  .item-soon{
    color: rgb(185, 185, 185);
  }

}


.portfolio-modal{
  .modal-body{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
  }
}




#contact{
  .text-center{ margin: 50px 0;}
}

.img-fluid{ width: 100%; }

.list-styled{
  li{
    background: url("../img/links/vineta.png") left top no-repeat;
    padding-left: 40px;
  }
  
}
