

.navbar{
    box-shadow: none !important; 
}

  .text-primary{ color: $primary !important; }
  .text-secondary{ color: $secondary !important; }


  
  

#services{
  background-color: white;
  .section-text{
    font-size: x-large;
    margin-bottom: 50px;
  }

  .card_redlinks{
    min-height: 290px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    h4,h5,p{color: white;}
    h5{font-size: 1.7rem;}
    .card-text{
      line-height: 20px;
      margin: 25px 0;
    }
  }
}

#benefits{
  background-color: white !important;
  //background: #e9e9e9 url("../img/links/background-benefits.webp") left top no-repeat;
  text-align: center;
  h2,p{text-align: center;}
  p{ 
    font-size: x-large;
    margin-bottom: 50px;
    font-weight: 100;
  }
  .bt-center{
    div{text-align: center;}
    .btn{     display: inline-block;
      width: 70%;}
  }

}


#portfolio{
  background: url("../img/links/background-portfolio.webp") center top no-repeat;
  background-size: auto 100%;
  .portfolio-item{
    @include shadow;
  }
  

}

.portfolio-modal{
  .modal-body{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
  }
}


#portfolioModalUees{
  .modal-content{
    background: white url("../img/links/portfolio/uees-desarrollo-de-sistema-de-citas-covid-banner.webp") right bottom no-repeat;
  }
}
#portfolioModalArgos{
  .modal-content{
  background: white url("../img/links/portfolio/tecnologico-argos-becas-municipio-de-guayaquil-banner.webp") right bottom no-repeat;
  }
} 
#portfolioModalEcotec{
  .modal-content{
    background: white url("../img/links/portfolio/ecotec-cuarto-de-monitoreo-y-seguridad-banner.webp") right bottom no-repeat;
  }
} 


.bg-purple{background-color: $purple;}

footer{
  padding: 3rem 0;
  color: white;
  font-size: 14px;

    h5{
      margin-bottom: 30px;
      color: $cyan;
    }

    a{ color: white;}
    a:hover{ color: $secondary;}

    .form-suscription{
      position: relative; 
        button, #mc-embedded-subscribe{ 
            position: absolute; 
            right: 7px; top: 7px; 
            border-radius: 5px 30px 30px 30px !important; 
            background: $purple !important;
            padding: 0.84rem 1.14rem;
        }

        .form-control {
            height: calc(1.5em + 2rem + 2px);   
            border-radius: 2rem;
        }
    }

    .list-styled{
      li{
        background: none;
        padding-left: 0px;
      }
    }
}

#credits{ text-align: center !important;  }

.img-fluid{ width: 100%; }
.list-styled{
  li{
    background: url("../img/links/vineta.png") left top no-repeat;
    padding-left: 40px;
  }
  
}


#contact{
  h2.section-heading{
    margin-bottom: 80px;
    font-weight: 200;
  }
  .lista{
    margin-bottom: 60px;
  }
}