.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
    background: rgba(0,64,123,0.95) url("/img/logo-blanco.png") 50px 50px no-repeat;
  }
  
  .overlay .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay .mb-0{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: white;
  } 

  
  .overlay a {
    padding: 8px; 
    text-decoration: none;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .overlay-menu{
    display: table;
    margin: auto;
    text-align: left;
    min-width: 300px;
  }

  .overlay-menu .overlay-submenu {
    padding: 0;
    margin: 0;
  }
  
  .overlay-menu .overlay-submenu li{
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
 
 
  .overlay a:hover, .overlay a:focus {
    color: #66DEFF;
    font-weight: 400;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }