

.text-primary{ color: $primary !important; }
.text-secondary{ color: $secondary !important; }

.navbar{
    box-shadow: none !important;
    
    //a{ color: white !important;}
    //a:hover{ color: white;}  
}

ul.navbar-nav.text-uppercase.ml-auto.esp_menu{  margin-left: auto !important;}

.carousel-indicators{
  bottom: -15px;
  li{ 
    background: #2c4489 !important;
    border-radius: 25px;
    padding: 5px 1px;
  }
} 

#inicio{
  .title_banner{
    font-size: xxx-large;
    font-weight: 500;
    padding-top: 30px;
    line-height: 47px;
  }
  .text_banner{
    font-size: xx-large;
    font-weight: 300;
    color: #aea1c7;
    line-height: 40px;
    margin: 45px 0 0px 0 !important;
  }  
}

#plataforma{
  .card{
    @include shadow;
  }
}

  #plataforma{
    background: #ffffff url("../img/bg_section_2.jpg") left bottom repeat-x;
    margin-bottom: 120px;
    //background-size:100%;
    h3{
      color: $secondary;
      font-size: xx-large;
      padding-bottom: 15px;
      padding-top: 70px;
      font-weight: 700;
    }
    .tree_block {
      padding-top: 70px;
    }
    .card-title{
      font-size: x-large; 
      margin: 20px 0;
      span{ font-size: xxx-large; font-weight: 700; }
    }

    .card{
      border-radius: 20px;
      min-height: 620px;
      text-align: left;
      img{
          border-radius:20px; 
      }
      p{
        line-height: 25px;
        font-size: smaller;
        font-weight: 200;
      }
    }
    .service-clients{ background: $secondary; color: white;}
    .service-offers{ background: $primary; color: white; }
    .service-sales{ background: $secondary; color: white;}

  }

#funciones{
  margin-bottom: 70px;
  background-color: #e4e9ed;
  .section-heading {
    font-weight: 400;
  }
  .feature{ 
    text-align: center;
    margin: 30px 20px;
    p.card-text {
      color: gray;
      font-size: medium;
    }
  }
}



#integraciones{
  
  .badge-secondary{
    background: $secondary;
    font-size: 0.60rem;
  }

  .item-soon{
    color: rgb(185, 185, 185);
  }

}


.portfolio-modal{
  .modal-body{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
  }
}


#portfolioModalUees{
  .modal-content{
    background: white url("../img/links/portfolio/uees-desarrollo-de-sistema-de-citas-covid-banner.webp") right bottom no-repeat;
  }
}
#portfolioModalArgos{
  .modal-content{
  background: white url("../img/links/portfolio/tecnologico-argos-becas-municipio-de-guayaquil-banner.webp") right bottom no-repeat;
  }
} 
#portfolioModalEcotec{
  .modal-content{
    background: white url("../img/links/portfolio/ecotec-cuarto-de-monitoreo-y-seguridad-banner.webp") right bottom no-repeat;
  }
} 



#contact{
  background-color: #e4e9ed;

  .text-center{ 
    margin: 50px 0;
    h4.section-heading {
      margin: 0 0 70px 0;
      font-weight: 400;
    }
  }
}



.bg-primary{
  background-color: #660ff1 !important;
}

footer{
  padding: 3rem 0;
  color: white;
  font-size: 14px;

    h5{
      margin-bottom: 30px;
      color: $alternate;
      font-weight: 700;
    }
    a{ color: white;}
    a:hover{ color: $secondary;}

    .form-suscription{
      position: relative; 
          button, #mc-embedded-subscribe{ position: absolute; right: 7px; top: 7px; border-radius: 5px 30px 30px 30px !important; background: $primary !important;
            padding: 0.84rem 1.14rem;;
          }

          .form-control {
            height: calc(1.5em + 2rem + 2px);   
            border-radius: 2rem;
          }
      }


.list-styled {
  margin: 0;
  padding: 0;
  li{
    padding: 7px 0;
    list-style: none !important;
    border-bottom: 1px dotted white;
  }
}

.list{
  margin: 0;
  padding: 0;
  li{
    padding: 7px 0;
    list-style: none !important;
  }
}



}


#credits{ text-align: center !important;  }

.img-fluid{ width: 100%; }
.list-styled{
  li{
    //background: url("../img/vineta.png") left top no-repeat;
    padding-left: 40px;
  }
  
}
