

.mainMenu{
    background: rgba(255,255,255,0);
    transition: all ease-in-out 0.5s;
    font-size: 14px;
    
    .navbar-brand {
      width: 190px;
      height: 80px;
      background: url("../img/logo.png") center top no-repeat;
      background-size: 150px;
      transition: all ease-in-out 0.5s;
    }
    i{ color: $secondary;}
    ul{
      padding: 20px;
      //background: rgba($primary,0.8);
      li{ 
        font-weight: 300;
        letter-spacing: 1.5px;
        padding: 0 20px; 
        border-right: 0; 
        color: $secondary;
        //&:first-child{ border: 0; padding-right: 0; } 
        a{ color: white; outline: 0; position: relative; font-weight: 400;}
        &:last-child{ border: 0; }
        &:hover{ 
          
          a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
          }
           a:hover::before {
            visibility: visible;
            transform: scaleX(1);
          }
        } 
      }
      
    }
}

  
.floatingMenu{
    background: rgba(255,255,255,1);
    @include shadow;
    font-size: 14px;
    
    
   
    
    .navbar-brand {
      width: 190px;
      height: 70px;
      background: url("../img/logo.png") center bottom no-repeat;
      background-size: 150px ;
      
    }
    ul{
      background: rgba(white,0.8);
      li{ 
        border-right: 0;
        color: $primary !important;
        a{ color: $gray-500;}
        &:last-child{ border: 0; }
        &:hover{ 
          a{ color: $primary !important;}
          a::before {
            content: "";
            background-color: $secondary;
          }
        } 

      }
    }
  }

  